[submodule "FractalVisualizer/vendor/ImGuiColorTextEdit"]
	path = FractalVisualizer/vendor/ImGuiColorTextEdit
	url = https://github.com/NullSeile/ImGuiColorTextEdit.git

[submodule "OpenGL-Core"]
	path = OpenGL-Core
	url = https://github.com/NullSeile/OpenGL-Core.git
